mat-card {
  text-align: center;
  width: 500px;
  min-height: 400px;    
  margin: 0px auto;
  padding: 5%;
  position: relative;   
  border: 2px solid rgb(197, 217, 250);
  border-radius: 3px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 100%;
  color: #2c7462bd;
  font-style: italic;
  background: #FFFFFF url("fotos/fotos.png") no-repeat right top fixed;

}
 
mat-form-field,
input {
  width: 100%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background: #FFFFFF url("fotos/fotos.png") no-repeat right top fixed;
}

h1{
  font-size: 25px;
  color: #4ca07fbd;
  padding: 2px 0 10px 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: italic;
  font-weight: bold;
  text-align: center;
  padding-bottom: 50px;
}